@{
    ViewData["Title"] = "About";
}

<aside>
    <h4>Description</h4>
    <p>This website is all abount funding projects !.</p>
</aside>

<div style="font-family: 'Pe-icon-7-stroke'">
    All credit reserved to Money2go
</div>