@model Money2Go.Models.Project

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/css/CommentStyle.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="row">
        <!-- Contenedor Principal -->
        <div class="comments-container">
            <h1>Comments section</h1>

            <ul id="comments-list" class="comments-list">

                @foreach (var comment in Model.comments.Reverse())
                {
                    <li>
                        <div class="comment-main-level">
                            <!-- Avatar -->
                            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    @if (comment.OwnerId == Model.UserId)
                                    {<h6 class="comment-name by-author"> <!--by-author (optional style)--><a href="#">@comment.owner.UserName</a></h6>}

                                else
                                {<h6 class="comment-name"> <!--by-author (optional style)--><a href="#">@comment.owner.UserName</a></h6>}
                                    <span>hace 20 minutos</span>
                                    <i class="fa fa-reply"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="comment-content">

                                   @if (comment.RudeComment) {<span class="badge badge-danger">Rude!</span>} @comment.theComment
                                    

                                </div>
                            </div>
                        </div>

                    </li>
                }
            </ul>
        </div>
    </div>
</div>